:global {
  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar__inner {
    max-width: var(--ifm-container-width);
  }
}

:global {
  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar__inner {
    max-width: var(--ifm-container-width);
  }
}

@media screen and (max-width: 997px) {
  .displayOnlyInLargeViewport {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hideLogoText {
    display: none;
  }
}

.navbarHideable {
  transition: top 0.2s ease-in-out;
}

.navbarHidden {
  top: calc(var(--ifm-navbar-height) * -1) !important;
}
