:global {
  .button--lg {
    --ifm-button-size-multiplier: 1.3;
  }

  html[data-theme="dark"] {
    .hero {
      background-color: var(--ifm-background-color);
    }

    .button--primary {
      color: white;
    }
  }
}

.hero {
  padding: calc(var(--ifm-spacing-vertical) * 3) 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 966px) {
    padding: 2rem;
  }
}

.logo {
  width: 100px;
  max-width: 8rem;
}

.badges {
  display: flex;
  justify-content: center;
  margin: 0 auto 2rem;
  & > * {
    padding: 0 calc(var(--ifm-spacing-horizontal) / 2);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  & > a {
    margin-right: calc(var(--ifm-spacing-horizontal) * 2);
  }

  a:last-of-type {
    margin-right: 0;
  }
}

.subtitle {
  width: 100%;
}
